[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pyGoogleSearch = ""
pdfminer3k = "*"
PyPDF4 = "*"
click = "*"
beautifulsoup4 = "*"
requests = "*"
colorama = "*"
peewee = "*"
tabulate = "*"
pybtex = "*"
six = "*"

[requires]
python_version = "3.7"
